.container {
	@include container;
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;

	.Upload {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2.4rem;

		&__title {
			@include titlePage;
		}

		&__description {
			color: $textColor;
			text-align: center;
			font-family: var(--font-primary);
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			width: 80vw;
		}
	}
}

.Message {
	@include visuallyHidden;
}
