.Upload {	
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	margin-bottom: 30px;

	.File {
		padding: 16px 24px;
		background-color: #fff;
		width: 80vw;
		border-radius: 4px;
		color: #47474F;
		font-family: var(--font-primary);
		font-size: 1.4rem;
		font-style: normal;
		font-weight: 400;
		text-transform: lowercase;
		line-height: normal;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 8px;

		@media only screen and (min-width: 1024px) {
			width: 40vw;
		}

		.name {
			display: -webkit-box;
			-webkit-line-clamp: 1;
			line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			max-width: 33vw;
		}
	}
}
