*,
*:after,
*:before {
    margin: 0;
    padding: 0;
		border: 0;
    box-sizing: border-box;
    text-decoration: none;
		list-style-type: none;
}

html, body {
  font-size: 62.5%;
	background: #ECECEC;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	vertical-align: middle;
}
