.button {
	border-radius: .4rem;
	border: 0;
	padding: 1.6rem 2.4rem;
	background: #209416;
	color: #FFF;
	font-family: var(--font-primary);
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: fit-content;
	cursor: pointer;
}
