.container {
	@include container;
	margin-top: 2.4rem;

	.Download {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2.4rem;

		&__title {
			@include titlePage;
		}

		&__btn {
			@include btnAction;
		}
	}
}
